# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is a collection of information stored on a device in such a manner that it can be modified, added or deleted as per the need of the user. SQL databases stands for Structured Query Language databases which means that it can store data which is structured in nature i.e. in tabular format whereas NoSQL databases stands for Not Just SQL that means that it can store structured data as well as non-strucutred data e.g. json, images etc.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. DDL stands for Data Definition Language. It means that the queries written in this language are meant for defining the data.

CREATE is used for creating tables and databases. For e.g. CREATE table table_name;

DROP is used for dropping the whole table including its structure. For e.g. DROP table table_name;

ALTER is used for changing the columns of the data i.e. add, delete or modify column. For e.g. ALTER TABLE table_name ADD column_name datatype;

TRUNCATE is used for deleting all the records of the rows but keeps the structure of the table intact. For e.g. TRUNCATE table table_name;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML stands for data manipulation language it means that the quries of this langauge are used to modify the records of the table. 

INSERT is used to add records in a table. For e.g. INSERT INTO table_name VALUES ('ABC',123);

UPDATE is used to change the value of a particular column. For e.g. UPDATE table_name SET column_name=updated_value;

DELETE is used to delete specific records from the table. For e.g. DELETE FROM table_name where column_name=condition;

# Q4. What is DQL? Explain SELECT with an example.

Ans. DQL stands for data query language which means that it is used for accessing the data from the database. 

SELECT is used for accessing the data from database and display it. For e.g. SELECT name FROM table_name;

# Q5. Explain Primary Key and Foreign Key.

Ans. Primary Key is that attribute of the table which is unique in nature and can't be null. It is used to identify each record in the table whereas Foreign Key is that attribute of the table which is a primary key in some other table and is used to establish a relationship between current table and that table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans.

In [ ]:
import mysql.connection
connector=mysql.connection.connect(
    host='local_host',
    user='abc'
    password='xyz123'
)
cursor=connector.cursor()
cursor.execute('use database_name)
cursor.execute('select * from table_name')
results=cursor.fetchall()
for result in results:
    print(result)

cursor() method is used to intialize a cursor object to the connection which is then used to interact with the database.

execute() method is used to exectue sql queries by sending them to SQL server.

# Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. The order of execution of clauses in SQL is as follows:

FROM -> JOIN -> ON -> WHERE -> GROUP BY -> HAVING -> SELECT -> DISTINCT -> ORDER BY -> LIMIT / OFFSET